{%extends 'app/base.html'%}

{%load static%}

{% block background %}{% static 'app/img/amigos.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{%block content%}


<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" 
            src="{% static 'app/img/bryam.jpeg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Bryam Abril</h2>   
        <p>Nacido en Ecuador tiene 29 anos de edad,culmino sus estudios universitarios 
	en la Universidad Politecnica Salesiana, titulado como Ing.Electronico con mension 
	en Sistemas Industriales.
	Posteriormente termino sus estudios de Master IoT en la Universida Internacional de Valencia.</p>

        <p>Actualmente se encuentra realizando desarrollo de software para varias Empresas y Clientes
	utilizando herramnientas de software libre para el analisis, interpretacion y recoleccion de datos
	en tiempo real de sensores y actuadores.
	</p>
    </div>
</div>

{%endblock%}
